<div class = "chat">
  <div class = "header">
    <div class = "group_title">hogefuga</div>
    <div class = "chat_exit_btn">
      <a href="#">チャットを終了する</a>
    </div>
  </div>

  <div class = "main_chat">
    <div class = "message">
      <div class = "user_box">
        <div class = "user_name">Tom</div>
        <div class = "time_day">2020/3/31(wed) 12:43:30</div>
      </div>
      <div class = "post_message">おはよう</div>
    </div>

    <div class = "message">
      <div class = "user_box">
        <div class = "user_name">Tom</div>
        <div class = "time_day">2020/3/31(wed) 12:43:30</div>
      </div>
      <div class = "post_message">こんにちは</div>
    </div>
  </div>
  
 
    <%= form_with model: [@room, @message], class: 'footer', local: true do |f| %>
      <div class="form">
      <div class="contact-form">
        <%= f.text_field :content, class: 'message_form', placeholder: 'type a message' %>
        <label class="image-form">
          <span class="image-file">画像</span>
          <%= f.file_field :image, class: 'hidden' %>
        </label>
         <%#= f.submit '送信', class: 'send' %>
      </div>
       <%= f.submit '送信', class: 'send' %> 
      </div>
    <% end %>
</div>