<div class = "side_bar">
  <div class = "side_header">
    <div class = "chat_name">
      <%= link_to current_user.name, edit_user_path(current_user) %>
    </div>
    <div class = "chat_create_btn">
    <%= link_to 'チャットを作成する', '/rooms/new' %>
    </div>
  </div>
  <div class = "room_list">
    <% current_user.rooms.each do |room| %>

   <ul class="lists">
    <li class="list">
      <a href="#"><%= room.name %></a>
    </li>

   </ul>
   <% end %>
  </div>

</div>